{% extends "base.html" %}

{% block content %}

<h2 class="jumbotron">This is the page to Create a Comment</h2>

<form method="post">
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" class="form-control" 
               value="{% if data.comment %} {{ data.comment.subject }} {% endif %}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" class="form-control">{%if data.comment %} {{ data.comment.content }} {% endif %}</textarea>
    </div>
    <div class="form-group">
        {% if data.update_comment %}
        <input class="btn btn-success" type="submit" value="Update comment">
        <a class="btn btn-warning" href="/post/comment/{{ data.post.comment.key().id()}}">Cancel</a>
        {% else %}
        <input type="submit" value="Create New comment">
        {% endif %}
    </div>
</form>
<div class="error bg-danger">{% if data.error %} {{ data.error }} {% endif %}</div>
{% endblock %}