{% extends "base.html" %}

{% block content %}

<h2 class="jumbotron">This is the page to CREATE a post</h2>

<form method="post">
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" class="form-control" 
               value="{{ subject }}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" class="form-control">{{ content }}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Create New Post">
    </div>
</form>
<div class="error bg-danger">{{ message }}</div>
{% endblock %}