{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
   <h2>{{ data.post.subject }}</h2>
</div>

<div class="post-created">
    <p><strong>Created on: </strong>{{ data.post.created.strftime("%b %d, %Y --- %-I:%M %p") }}</p>
    <p><strong>Created by: </strong>{{ data.post.user.username }}</p>
</div>
<div class="post-content well well-lg">
    {{ data.post.content }}
</div>
{% if data.user %}
    {% if data.user.username == data.post.user.username %}
    <a href="/post/delete/{{ data.post.key().id() }}" class="delete-button btn btn-danger">Delete Post</a>
    <a href="/post/update/{{ data.post.key().id() }}" class="update-button btn btn-primary">Update Post</a>
    {% endif %}
{% endif %}

{% endblock %}