{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center well">Welcome, {{ data.user.username | capitalize }} !</h1>
        <!-- Loop through the posts -->
        {% if data.posts %}
            {% for post in data.posts %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post/{{ post.key().id() }}">
                        <h2 class="post-title">
                            {{ post.subject }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.content }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <strong>{{post.user.username}}</strong> on {{post.created.strftime("%b %d, %Y at %-I:%M %p")}}</p>
                </div>
                <hr>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}